/* Variables */
:root {
--basic-grey-dark: #32425C;
--basic-grey-light: #293449;
--basic-white: #FFFFFF;
--basic-black: #000000;
--basic-red: #EE3643;
--basic-section-neutral: #F9F5F0;
--basic-border: #EAEAEA;
--basic-background-top: #F3F7F9;
--basic-background-neutral: #F1F5F7;
--basic-grey-trans: #F1F5F7;
--basic-yellow: #FFD180;
--basic-background-catalog: #F2F6F8;
--basic-background-filter: #F7F3EC;
--basic-header: #000000;
	
--special-neutral-telephone: #F3F7F9;
--special-yellow-focus: #FFDA96;
--special-green: #63A63E;
--special-grey-cursor: #C5C5C5;
--special-grey-price: #A9A9A9;
--special-grey-catalog-nav: #C1C6CE;
--special-grey-shadow: #ABABAB;
--special-grey-range: #444444;
--special-grey-range-border: #D7DCDE;
--special-grey-social: #212A3A;
--special-yellow-promo: #FFBF47;
--special-blue-promo: #3BBCE3;
--special-purple-promo: #DC91D8;
--special-green-promo: #8ED78F;
--special-yellow-2promo: #FFC047;
--special-green-hover: #5FBB2D;
--special-red-active: #BA2732;
--special-grey-active: #161D29;
--special-grey-nav-active: #1D2739;
--special-grey-pagination: #E5E5E5;
}

/*Global*/
body {
	width: 960px;
	margin: 0px;
	padding: 0px;
	
	font-family: "Cuprum", "Arial", sans-serif;
	font-style: normal;
	font-weight: normal;
	
	font-size: 16px;
	line-height: 24px;
	
	color: var(--basic-black);
	background-color: var(--basic-white);
}

a {
	text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*Classes*/
.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.visually-hidden {
	position: absolute;
  	width: 1px;
  	height: 1px;
  	margin: -1px;
  	border: 0;
  	padding: 0;
  	clip: rect(0 0 0 0);
  	overflow: hidden;
}

.list-style {
	list-style: none;
}

.hidden-elements {
	display: none;
}

.container {
	width: 960px;
	margin: 0 auto;
	padding: 0 10px;
}

/*Navigation classes header*/
.header-top-line {
	background-color: var(--basic-grey-dark);
	width: 960px;
	padding: 0 10px;
}

.header-navigation {
	display: flex;
	justify-content: space-between;
	align-items: center;
	
	font-size: 18px;
	line-height: 24px;
	color: var(--basic-white);
	height: 42px;
}

.logo-inter {
	display: block;
	width: 220px;
	height: 47px;
}

.header-navigation a {
	color: var(--basic-white);
}

.layout-header {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.logo-inter:active {
	background-color: var(--special-red-active);
}

.search-focus {
	background-color: var(--basic-grey-dark);
}

.search-focus:focus {
	background-color: var(--basic-white);
	color: var(--basic-black);
}

.header-search-button {
	margin-right: 8px;
}

.user-panel:active {
	background-color: var(--special-grey-active);
}

.order {
	background-color: var(--special-green);	
	color: var(--basic-white);
}

.order:hover {
	background-color: var(--special-green-hover);
}

.order:active {
	background-color: var(--special-green);
}

.header-middle {
	background-color: var(--basic-background-neutral);
}

.headline {
	font-style: italic;
	font-weight: normal;
	line-height: 23px;
	color: var(--basic-red);
}

.tel {
	font-style: normal;
	font-weight: bold;
	font-size: 21px;
	line-height: 30px;
	color: var(--basic-red);
	border: 3px solid;
	border-color: var(--basic-white);
}

.user-navigation a {
	font-weight: normal;
	font-size: 21px;
	line-height: 21px;
	color: var(--basic-black);
	background-color: var(--basic-white);
}

.user-navigation a:hover {
	color: var(--basic-red);
}

.user-navigation a:active {
	color: var(--special-grey-cursor);
}

.main-navigation {	
	font-size: 18px;
	color: var(--basic-white);
	background-color: var(--basic-grey-dark);
}

.main-navigation ul {
	display: flex;
	width: 940px;
	height: 60px;
	justify-content: space-around;
	align-items: center;
}

.main-navigation a {
	color: var(--basic-white);
}

.main-navigation a:hover {
	background-color: var(--basic-grey-light);
}

.main-navigation a:active {
	background-color: var(--special-grey-nav-active);
}

/*Promo-classes*/
.promo-layout {
	display: grid;
	grid-template-columns: 300px 300px 300px;
	grid-template-rows: 123px 123px 123px;
	width: 940px;
	height: 409px;
	gap: 20px;
}

.promo {
	font-size: 24px;
	line-height: 30px;
	color: var(--basic-white);
}

.promo-link {
	font-size: 14px;
	line-height: 18px;
	color: var(--basic-white);
	text-transform: uppercase;
}

.promo-cards {
	width: 300px;
	height: 123px;
}

.promo-materials {
	background-color: var(--special-yellow-promo);
}

.promo-tools {
	background-color: var(--special-blue-promo);
}

.promo-technology {
	background-color: var(--special-purple-promo);
}

.promo-discounts {
	background-color: var(--special-green-promo);
}

.promo-slider {
	width: 620px;
	height: 266px;
	background-color: var(--basic-grey-dark);
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 4;
}

.promo-slider h2 {
	font-family: "Cuprum";
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 36px;
	
	display: flex;
	align-items: center;
	text-transform: uppercase;
	position: absolute;
	width: 240px;
	height: 36px;
	margin-top: 23px;
	margin-left: 24px;
	color: var(--basic-white);
}

.promo p {
	font-family: "Cuprum";
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 24px;
	
	display: flex;
	align-items: center;
	position: absolute;
	width: 258px;
	height: 24px;
	margin-top: 64px;
	margin-left: 24px;
	margin-bottom: 16px;
}

/*.promo img {
	position: relative;
}*/

.promo-delivery {
	background-color: var(--special-yellow-2promo);
}

.promo-link:hover {
	background-color: var(--special-grey-cursor);
}

.promo-link:active {
	background-color: var(--special-grey-price);
}

.red-button {
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	background-color: var(--basic-red);
	color: var(--basic-white);
	border: 0px;
	width: 192px;
	height: 38px;
}

.red-button:hover {
	background-color: var(--basic-red);
}

.red-button:active {
	background-color: var(--special-red-active);
}

/*Goods and developers classes*/
.headlines-container-1,
.headlines-container-1 a {
	display: flex;
	width: 940px;
	height: 89px;
	margin-top: 59px;
	margin-bottom: 20px;
}

.headlines-container-2,
.headlines-container-2 a {
	display: flex;
	width: 940px;
	height: 89px;
	margin-top: 70px;
	margin-bottom: 20px;
}

.headline-items-index {
	display: flex;
	padding-bottom: 30px;
	padding-left: 28px;
	padding-right: 648px;
	width: 367px;
	height: 30px;
	
	font-weight: normal;
	font-size: 30px;
	line-height: 30px;
	color: var(--basic-grey-dark);
	background-color: var(--basic-section-neutral);
	text-transform: uppercase;
}

.headline-items-catalog {
	display: flex;
	align-items: center;
	width: 940px;
    height: 89px;
	margin-top: 20px;
	margin-bottom: 20px;
	padding-left: 29px;
	
	font-weight: normal;
	font-size: 30px;
	line-height: 30px;
	color: var(--basic-grey-dark);
	background-color: var(--basic-section-neutral);
	text-transform: uppercase;
}

.border li {
	border: 1px solid;
	border-color: var(--basic-border);
	color: var(--basic-border);
}
.item-name {
	font-family: "PT Sans";
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 20px;
	color: var(--basic-black);
}

.price {
	font-family: "PT Sans";
	font-style: normal;
	font-weight: bold;
	font-size: 17px;
	line-height: 18px;
	text-transform: uppercase;
}

.old-price {
	color: var(--special-grey-price);
	text-decoration-line: line-through;
}

.new-price {
	color: var(--basic-white);
	background-color: var(--basic-red);
}

.good-list-layout {
	display: grid;
	width: 940px;
	height: 318px;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 20px;
}

.good-list-layout li {
	display: flex;
	flex-direction: column;
	text-align: center;
	width: 220px;
	height: 318px;
}

.user-attention li:hover {
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);;
}

.item-1 {
	padding-left: 18px;
	padding-right: 17px;
}

.item-2 {
	padding-left: 30px;
	padding-right: 33px;
}

.semi li:active {
	opacity: 0.5;
}

.producer-index-layout ul {
	display: grid;
	width: 940px;
	height: 310px;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	gap: 20px;
	margin-top: 20px;
	margin-bottom: 70px;
}

/*Services-classes*/
.services-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
	width: 940px;
	height: 356px;
	column-gap: 131px;
	margin-top: 70px;
	margin-bottom: 70px;
}

.service-layout-1 {
	display: flex;
	flex-direction: column; 
	width: 478px;
}

.service-layout-2 {
	display: flex;
	flex-direction: column; 
	width: 300px;
}

.services {
	background-color: var(--basic-background-neutral);
}

.headline-services {
	font-family: "Cuprum";
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
}

.info-services {
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	color: var(--basic-grey-dark);
}

.text-services {
	font-family: "PT Sans";
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 24px;
	color: var(--basic-black);	
}

.button-services {
	font-weight: bold;
	font-size: 21px;
	line-height: 30px;
	color: var(--basic-black);
	border: 0px;
}

.button-services:hover {
	color: var(--basic-white);
	background-color: var(--basic-grey-light);
	box-shadow: 0px 1px 0px; 
	border-color: var(--basic-grey-light);
}

.button-services:active {
	color: var(--basic-black);
	background-color: var(--basic-white);
	box-shadow: 0px 1px 0px;
	border-color: var(--basic-white);
}

.tk-partners li {
	font-size: 18px;
	line-height: 24px;
}

.data {
	font-family: "PT Sans";
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 24px;
	color: var(--special-grey-price);
}

/*Footer classes*/
.footer-logo-layout {
	display: flex;
}

.footer-top {
	display: flex;
	flex-wrap: wrap;
	height: 193px;
	width: 940px;
	font-family: "Cuprum";
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 24px;
	background-color: var(--basic-grey-dark);
}

.footer-contact {
	display: flex;
	align-items: center;
	width: 321px;
	height: 49px;
	margin-right: 92px;
	margin-top: 22px;
	margin-bottom: 54px;
}

.footer-contact p,
.footer-contact a {
	color: var(--basic-background-top);
}

.footer-nav-first a {
	color: var(--basic-background-neutral);
}

.footer-nav-first {
	display: flex;
	margin-top: 37px;
	margin-bottom: 34px;
	margin-left: 173px;
}

.footer-nav-first li {
	display: flex;
}

.footer-nav-second {
	display: flex;
	margin-top: 34px;
	margin-left: 92px;
	margin-bottom: 181px;
}

.footer-nav-second a {
	color: var(--basic-yellow);
}

.footer-nav-first a:hover,
.footer-nav-second a:hover {
	text-decoration-line: underline;
}

.footer-bottom {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: var(--basic-grey-light);
	width: 940px;
	height: 107px;
}

.footer-block-1 {
	font-size: 16px;
	line-height: 18px;
	color: var(--basic-white);
}

.footer-block-2 {
	color: var(--basic-yellow);
}

.footer-block-2:hover {
	text-decoration: underline;
}

.footer-block-2:active {
	color: var(--basic-red);
	text-decoration: underline;
}

.footer-container-1 {
	width: 227px;
	height: 37px;
	margin-right: 161px;
	margin-top: 36px;
	margin-bottom: 34px;
}

.footer-container-2 {
	width: 137px;
	height: 37px;
	flex-wrap: wrap;
	margin-right: 51px;
	margin-top: 35px;
	margin-bottom: 34px;
}

.footer-container-3 {
	width: 98px;
	height: 37px;
	flex-wrap: wrap;
	margin-top: 35px;
	margin-bottom: 34px;
}

.social-button {
	display: flex;
	align-items: center;
	width: 134px;
	height: 44px;
	margin-right: 118px;
	margin-top: 34px;
}

/*Catalog*/
.enter-button-lk a {
	font-size: 16px;
	line-height: 18px;
	color: var(--basic-grey-dark);
}

.enter-button-lk a:hover {
	color: var(--basic-red);
}

.enter-button-lk a:active {
	color: var(--special-grey-cursor);
}

.user-cart {
	background-color: var(--basic-red);
}

.breadcrumbs {
	display: flex;
	width: 463px;
	height: 18px;
	justify-content: flex-start;
	margin-top: 21px;
	margin-bottom: 20px;
}

.breadcrumbs a {
	font-family: "PT Sans";
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
	color: var(--basic-black);
}

.background-headline {
	background-color: var(--basic-background-catalog);
}

.sort-container {
	display: flex;
	width: 700px;
	height: 38px;
	justify-content: flex-start;
	background-color: var(--basic-background-filter);
	float: right;
	margin-bottom: 28px;
	clear: both;
}

.sort-items,
.sort-items button {
	font-family: "PT Sans";
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 18px;
	color: var(--basic-black);
	background-color: var(--basic-background-filter);
	border: none;
	text-transform: uppercase;
}

.filter-container {
	display: flex;
	width: 220px;
	height: 720px;
	flex-direction: column;
	margin-top: 20px;
	margin-right: 21px;
	margin-bottom: 14px;

}

.filter-column {
	float: left;
	padding-bottom: 10px;
	padding-top: 10px;
	padding-left: 18px;	
	margin: 0px;
}

.no-border {
	border: none;
}

.filter-layout {
	display: flex;
}
.choosen {
	opacity: 0.3;
	text-decoration: underline dashed;
	text-decoration-color: var(--basic-red);
}

.choosen:hover {
	color: var(--basic-black);
	text-decoration: underline solid;
	text-decoration-color: var(--basic-red);
	opacity: 1;
} 

.choosen:active {
	color: var(--basic-red);
	text-decoration: underline solid;
	text-decoration-color: var(--basic-red);
	opacity: 1;
}

.filter-headlines {
	font-family: "PT Sans";
	font-style: normal;
	font-weight: bold;
	font-size: 17px;
	line-height: 30px;
	text-transform: uppercase;
}

.filter-headlines-1 {
	margin-top: 14px;
	margin-bottom: 10px;
	margin-right: 68px;
}
.range-style,
.range-style p {
	background-color: var(--basic-background-filter);
}

.filter-text {
	font-family: "PT Sans";
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 19px;
	text-transform: uppercase;
	
	padding-left: 0px;
}

.show-filter {
	border: 1px solid;
	border-color: var(--special-grey-pagination);
	background-color: var(--basic-white);
}

.goods-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	width: 722px;
	height: 990px;
	gap: 20px;
}

.goods-layout li {
	display: flex;
	flex-direction: column;
	text-align: center;
	width: 220px;
	height: 318px;
}

.filter-float {
	display: flex;
	float: right;
	flex-wrap: wrap;
}
.pagination {
	display: flex;
	width: 284px;
	height: 38px;
	margin-top: 58px;
	align-items: center;
	text-align: center;
}

.pagination a {
	color: var(--basic-black);
	background-color: var(--basic-white);
	border: 1px solid;
	border-color: var(--special-grey-pagination);
	box-sizing: border-box;
	border-radius: 2px;
	
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	margin-right: 10px;	
}

.service-layout-3 {
	width: 940px;
	height: 261px;
	padding-top: 64px;
}

.headline-layout {
	margin: 0px;
}

.text-services-catalog {
	width: 907px;
	height: 74px;
	padding-bottom: 68px;
}
.uppercase {
	text-transform: uppercase;
}
.pagination a:hover {
	border: 1px solid;
	border-color: var(--special-grey-cursor);
}

.pagination a:active {
	border: 1px solid;
	border-color: var(--basic-red);
}

.pagination a:visited {
	background-color: var(--basic-red);
}
/*.clearfix::after {
	content: "";
	display: table;
	clear: both;
}*/